@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

:root {
  --spacing: 1rem;
  --shadow: 0 12px 8px -8px rgba(0,0,0,0.3);
}

body{
  background-color: white;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  color: #2E2E2E;
}

.navbar{
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  width: 100%;
  height: 10px;
}
nav{
  box-shadow: var(--shadow);
  background-color: white;
  height: 5rem;
  width:100%;
  top:0;
  position: absolute;
  z-index: 1;
  margin-top: 0;
}
.nav-logo {
  position: absolute;
left: 10px;
height: 3em;
}

.nav-logo img{
  width: 25%;
}

nav ul {
  text-align: right;
  padding: 10px;
}
nav li {
  display: inline-block;
  padding: 0 10px;
}

nav a{
  color:black;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}

 a {
  text-decoration: none;
}

 a:hover {
  text-decoration: underline;
}

#home {
  height: 25rem;
  background-color: #f5f5f5;
  padding: var(--spacing);
  margin: var(--spacing);
  margin-top: 5rem;
  box-shadow: var(--shadow);
  position:relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.intro-right img{
  justify-content: flex-start;
}

.intro-buttons{
  border: none;
  background-color: inherit;
}
.intro-buttons .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  cursor: help;
}

.intro-buttons:hover .tooltiptext {
  visibility: visible;
}

.intro-buttons:hover{
   box-shadow:  0 2px 25px rgba(208, 184, 218, 0.7);
   border-radius: 100%;
   padding: 0;
   transform: scale(1.03);
 }
 .intro-buttons:active{
   box-shadow: 0 2px 25px rgba(208, 184, 218, 0.5);
   transform: scale(.98);
}

#about {
  height: 30rem;
  display: flex;
  margin: var(--spacing);
}

.about-right{
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(148,187,233,0.4);
  width: 50%;
  padding: 2rem;
  box-shadow: var(--shadow);
}
.about-left {
  width: 50%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.about-left img {
  box-shadow: var(--shadow);
  display: block;
  margin: auto;
  margin-top: 2.5rem;
  width: 50%;
  height: auto;
  object-fit: cover;
}
#projects {
  height: auto;
  background-color: #f5f5f5;
  margin: var(--spacing);
  padding: var(--spacing);
  box-shadow: var(--shadow);
}

.projects {
  display: grid;
  margin: 0 auto;
  grid-gap: 1rem;
  max-width: 1200px;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  margin: var(--spacing);
  padding: var(--spacing);
  border: 1.5px solid #ccc;
	box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 500px;
  flex-grow: 0.25;
  text-align: center;
  box-shadow: 8px 12px 8px -8px rgba(0,0,0,0.3);
}

 .card> img{
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.card button{
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  padding: 7px;
}

.source-code{
  align-items: flex-start;
  border: 2px solid rgb(148,187,233);
}

.source-code a{
  color: black;
}
.source-code:hover {
  background-color: rgb(148,187,233);
  color:white;
}

.source-code a:hover {
  text-decoration: none;
  color: white
}

.live-demo {
  align-items: flex-end;
  border: 2px solid rgb(235,203,241);
}
.live-demo a{
  color: black;
}
.live-demo:hover {
  background-color: rgb(235,203,241);
  color: white;
}

.live-demo a:hover {
  text-decoration: none;
  color: white
}

.card button:active{
  transform: scale(.98);
}
#skills {
  height: 25em;
  background-color:  rgba(235,203,241,0.4);
  margin: var(--spacing);
  padding: var(--spacing);
  box-shadow: var(--shadow);
  }

.current-skills img, .future-skills img {
  width: 48px;
  padding: 0.5rem;
}
.current-skills, .future-skills {
  padding-left: 5rem;
  padding-right: 5rem;
}

#contact {
  height: 25rem;
  background-color: #f5f5f5;
  margin: var(--spacing);
  padding: var(--spacing);
  box-shadow: var(--shadow);
  position:relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contact-left button{
  background-color:white;
  color: #2E2E2E;
  border-radius: 0.5em;
  border: 1px solid lightblue;
  width: 5rem;
  height: 2rem;
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
  justify-content:center;
}

.contact-left button:hover {
  background-color:lightblue;
  color:white;
}

label {
  display: block;
}

input, textarea{
  width: 100%;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
}

footer {
  text-align: center;
}

/* FOR RESPONSIVENESS  */

  @media (min-width: 375px) {

    nav li {
      padding: 0 5px;
      font-size: 12px;
    }
    #home{
      height: auto;
      display: flex;
    }
    .intro-right {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    .intro-left img{
      width: 70px;
    }
    .intro-right img, .contact-right img{
      width: 60%;
    }
    .intro-right img {
      margin-left: 5rem;
    }

    #about, #contact, #skills, #projects{
      height:auto;
      display:flex;
      flex-direction: column;
    }

    .about-right {
      display:flex;
      width:auto;
    }

    .about-left > img {
      width: 90%;
      margin-bottom: 2rem;
      vertical-align: middle;
    }

    .projects {
      display: grid;
      margin: 0 auto;
      max-width: 300px;
      grid-template-columns: auto;
    }

    .card {
      margin: var(--spacing);
      padding: var(--spacing);
      max-width: 300px;
    }

    .card > img{
      max-width: 200px;
      height: auto;
      object-fit: contain;
    }

    .current-skills, .future-skills {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-left: 0.5rem;
      justify-content: center;
      align-items: center;
    }

    form{
      margin: var(--spacing);
    }
  }

  @media (min-width: 800px) {

    #home{
      height: auto;
      display: flex;
    }
    nav li {
      padding: 0 10px;
    }
    .intro-right {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    .intro-left img{
      width: 70px;
    }
    .intro-right img, .contact-right img{
      width: 60%;
    }

    #about, #contact, #skills, #projects{
      height:auto;
      display:flex;
      flex-direction: column;
    }
    .about-left {
      width: 100%;
    }
    .about-right {
      display:flex;
      width:auto;
    }

    .about-left > img {
      width: 30%;
      vertical-align: middle;
    }

    .projects {
      display: grid;
      margin: 0 auto;
      grid-template-columns: repeat(2, 1fr);
      max-width: 600px;
    }

    .card {
      margin: var(--spacing);
      padding: var(--spacing);
      max-width: 400px;
    }
  }

  @media screen and (min-width: 1200px) {
    body {
      min-width: 1200px;
    }
    nav li {
      padding: 0 10px;
    }
    .projects {
      max-width: 1200px;
    }
     .card> img{
      width: 400px;
      height: 200px;
      object-fit: contain;
    }
    #home, #about, #contact {
      display:grid;
      grid-template-columns: auto auto;
    }

    .about-left img {
      width: 50%;
    }

    .current-skills, .future-skills {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
