@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root {
  --spacing: 1rem;
  --margin-top: 1rem;
}

body{
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  color: #2E2E2E;
}

nav{
  background-color: black;
  height: 3rem;
}

nav ul {
  text-align: right;
  padding: 10px;
}
nav li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

nav a{
  color:white;
}

 a {
  text-decoration: none;
}

 a:hover {
  text-decoration: underline;
}

#home {
  height: 25rem;
  background-color: #efeae5;
  padding: var(--spacing);
  position:relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-left img{
  justify-content: flex-start;
  height: 50px;
}

.intro-right{
  margin-left: 10rem;
}

.intro-tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
}

.intro-tooltip:hover .tooltiptext {
  visibility: visible;
}

#about {
  height: 30rem;
  display: flex;
  margin-top: var(--margin-top);
}

.about-left{
  flex-direction: column;
  background-color: #E4B0AE;
  width: 50%;
  padding: var(--spacing);
}
.about-right {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-right img {
  display: block;
  margin: auto;
  margin-top: 2.5rem;
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 10%;
}
#projects {
  height: 25rem;
  background-color: #efeae5;
  margin-top: var(--margin-top);
  padding: var(--spacing);
}

#skills {
  height: 25em;
  background-color: #c3d9f1;
  margin-top: var(--margin-top);
  padding: var(--spacing);
}

.current-skills img, .future-skills img {
  width: 48px;
  padding: 0.5rem;
}
.current-skills, .future-skills {
  padding-left: 5rem;
  padding-right: 5rem;
}

#contact {
  height: 25rem;
  background-color: #F6E2D8;
  margin-top: var(--margin-top);
  padding: var(--spacing);
  position:relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contact-left {
  margin-left: 10rem;
}

.contact-left button{
  background-color:lightblue;
  color: #2E2E2E;
  border-radius: 0.5em;
  border: 1px solid white;
  width: 5rem;
  height: 2rem;
}

label {
  display: block;
}

footer {
  text-align: center;
}
